
header {
  background-color: #759eda;
  padding: 20px;
  display: flex;
}

.find{
  background-color: #5879C7;
  padding: 25px;
  font-size: 25px;
  border: none;

}

.search{
  font-size: 30px;
  border:none;
  outline: none;
  background-color: transparent;
  color: white;

}
::placeholder {
  color: rgba(255, 255, 255, 0.678);
}
